@import url("https://fonts.googleapis.com/css?family=Varela+Round");
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  letter-spacing: 1.1px;
}

body,
html {
  width: 100%;
  height: 100%;
  background: white;
  font-family: "Varela Round", sans-serif;
}


.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 720px;
  margin: 0 auto;
  height: 20vh;
  list-style: none;
}

.menu li {
  width: 125px;
  height: 50px;
  transition: background-position-x 0.9s linear;
  text-align: center;
}
img {
  height: 100%;
  width: 100%;
  object-fit: contain;
 }

 .site-logo{
  height: 10%;
  width: 10%;
}

.video{
  width: 12000px;
  height: 1000px;
  padding: auto;
}

footer{
  
  padding: 5% 5% 1% 5%;
  color: white;
  background: green;
  font-family: "Varela Round", sans-serif;
  
}

.logo_rodape{
  height: 20%;
  width: 20%;


}
.redes_sociais{
  font-size: 10px;
}

.mapa{
  padding-top: 10%;
  right: 5%;
  text-align: right;
}
.copyright{
  padding-top: 10%;
  font-size: x-small;
  text-align: center;
}

